{
    "timeseries_file": "timeseries.txt",
    "summary_file": "summary.txt",
    "break_label": "Out",
    "minutes_per_break": 30,
    "disable_notify": 0,
    "email_address": "put_your@email.here",
    "workspace_labels": [
        "Out",
        "EmailCalendar",
        "Proj1",
        "Proj2",
        "Proj3",
        "Proj4",
        "Proj5",
        "Proj6",
        "Proj7"
    ],
    "target_percentage": {
        "workspace": "Proj1",
        "percent": 0.1
    }
}
